.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.projects-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.projects-table th,
.projects-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #7b7373;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #af9f9f;
}