.registration-steps {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.steps-header {
    margin-bottom: 20px;
    margin: auto;
}

.steps-list {
    display: flex;
    border: 2px solid;
    border-radius: 15px;
    border-color: #a7b0a9;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.thank {
    font-size: 15px;
    border: 2px solid;
    border-radius: 20px;
    border-color: #42744e;
    padding: 10px;
}

.numBtn {
    border: 2px transparent;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: #5e8a68;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 30px;
}

.numBtn2 {
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.no-liststep {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.step {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    color: #000a01;
}

.step.active {
    border-bottom: 2px solid #356741;
    color: #356741;
    font-weight: bold;
}

.registration-content h2 {
    text-align: center;
    color: #17460da0;
}

.business-options1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.business-optionstep {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* Align checkbox and content vertically */
    gap: 10px;
}

.business-optionstep input {
    margin: 0;
    width: 20px;
    /* Set consistent checkbox size */
    height: 20px;
    align-self: flex-start;
    /* Align checkbox with the top of content */
}

.business-optionstep label {
    flex: 1;
    /* Let the label occupy remaining space */
    margin: 0;
}

.business-optionstep.selected {
    border-color: #2f5c39;
    background-color: #f0faff;
}

.actionsstep {
    text-align: right;
    /* Align the content to the right */
    margin-top: 20px;
}

.next-buttonstep {
    background-color: #356741;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.next-buttonstep:hover {
    background-color: #053310;
}